body,
/* html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
} */

body {
    /* The image used */
    /* background: url(../image/bg.jpg); */
    background: url(../image/CIT.png);
    /* Full height */
    /* height: 100%; */

    /* Center and scale the image nicely */
    background-position: left;
    background-color: gold;
    background-repeat: no-repeat;
    background-size: 900px 800px;
}
